//dimensiones de carousel de index

.dimensiones{
    width: 80%;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    height: 600px;
}



//grilla para pag productos

.mainproductos{

    .grilla-productos{
    
        .contenedor-grid{
            .cardproductos{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                padding: 50px;

                

                .textoobras{
                    font-family: $font;
                    font-size: 20px;
                    padding: 20px;
                }

            }
           
        
    
        }       
}

}