//dimensiones de carousel de index

.dimensiones{
    width: 80%;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    height: 600px;
}



//grilla para pag productos

.mainproductos{

    .grilla-productos{
    
        .contenedor-grid{
            .cardproductos{
                @include flex; 
                flex-direction: row; 
                width: 100%;
                padding: 40px;

                .textoobras{
                    font-family: $font;
                    font-size: 20px;
                    padding: 40px;
                }
            }
        }       
}
}