//dimensiones de carousel de index

.dimensiones{
    width: 80%;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    height: 600px;
}



//grilla para pag productos

.mainproductos{

    .grilla-productos{
    
        .contenedor-grid{
            display: grid;
            /*Cantidad y tamaño*/
            grid-template-columns: 45% 45%;
            grid-template-rows: 300px 300px 300px 300px 300px;
            /*ubico los elementos*/
        grid-template-areas:
        "obra1 texto1" 
        "obra2 texto2"
        "obra3 texto3"
        "obra4 texto4"
        "obra5 texto5";
        justify-content:center;
        align-items: center;
        justify-items: center;
        
            img{
                width: 80%;
                height: 80%;
            }           
        }

         /*Asigno clase a los elementos*/
         .grid-imagen1{
            grid-area: obra1;
        }
    
    
    
        .grid-texto1{
            grid-area: texto1;
        }
    
        .grid-imagen2{
            grid-area: obra2;
        }
    
        .grid-texto2{
            grid-area: texto2;
        }
    
        .grid-imagen3{
            grid-area: obra3;
        }
    
        .grid-texto3{
            grid-area: texto3;
        }
    
        .grid-imagen4{
            grid-area: obra4;
        }
        .grid-texto4{
            grid-area: texto4;
        }
    
        .grid-imagen5{
            grid-area: obra5;
        }
    
        .grid-texto5{
            grid-area: texto5;
        }
        
    
        }       
}

