.masinfo-section{
    .infodeproductos{
        display: flex;
        width: 95%;
        flex-direction: column;
        padding: 100px;
        justify-content: center;
        align-items: center;
    }

    .infodeproductos img{
        width: 100%;
        height: auto;
        max-width: 1000px;
        padding-bottom: 30px;
    }
}