//mediaq

/*Hago responsivos*/

/*para mobile*/
@media (max-width:500px){

    .dimensiones{
       height: auto;
    }  


    .maincontacto{
        .contacto-section{

            .contacto{
                flex-direction: column;
                margin: auto;
                justify-content: space-between;
    
            .otrasformasdecontacto{
                justify-content: center;
            }
            }

            .form{
                justify-content: center;
            }
        }
    }

    /*sobremi*/
 
    .mainsobremi{
        .section-sobremi{
            .sobremibox{
                flex-direction: column;
                
            }
        }
    }

    
    /*productos*/
    .mainproductos{

        .grilla-productos{
        
            .contenedor-grid{
                .cardproductos{
                    flex-direction: column;
                    width: 80%;
                    border: solid 1px;
                    border-color: $colorprincipal;
                    margin: 40px;
                    padding: 0;
                    align-content: center;
                    justify-items: center;
                    
                    
    
                    .textoobras{
                        font-size: 12px;
                        padding: 10px;             
                    }

                    .obras{
                        height: 200px;
                        justify-items: center;
                        align-items: center;
                        padding-top: 20px;
                    }
    
                } 
            }       
    }
    
    }



   //mas info pag responive
   .masinfo-section{
        .infodeproductos{
            padding: 20px;
            width: 95%;
            height: auto;

        }
        
   }
   
   .main-index{
    .sectionwave{
        .wave{
             
            h1{
                font-size: 1.5rem;
                left: 35%;          
            }
            p{
               visibility: hidden;    
            }
        }
    }
}

.sectionwavesobremi{
    .wave2{
        h1{
            visibility: hidden;        
        } 
}
}

.sectionwaveproductos{
    .wave3{
        h1{
            visibility: hidden;
        }
    }
}

.sectionwavecontacto{
    .wave4{
        h1{
            visibility: hidden;
        }
    }
}

.masinfowave{
    .wave5{ 
        h1{
            visibility: hidden;
                   
        } 
}
}

   
}






/*responsive para tablets de 1129 a 1280*/
@media (min-width:1129px) and (max-width:1280px){

    .dimensiones{
        height: auto;
     }  
    
    .main-index{
     .sectionwave{
         .wave{
              
             h1{
                 font-size: 4rem;
                 left: 40%;
                 top: 42%;          
             }

             p{
                top:55%;
             }
         }
     }
 }
 
 .sectionwavesobremi{
    .wave2{
        h1{
          top:37%;
        }
    }
}
 
 
 .sectionwaveproductos{
     .wave3{
         h1{
           top:37%;
         }
     }
 }
 
 .sectionwavecontacto{
     .wave4{
         h1{
            top:37%;
         }
     }
 }
    
}


/*responsive para tablets de 500px a 1128*/
@media (min-width:500px) and (max-width:1128px){

    .dimensiones{
        height: auto;
     }  
    
    .main-index{
     .sectionwave{
         .wave{
              
             h1{
                 font-size: 4rem;
                 left: 40%;
                 top: 42%;          
             }

             p{
                visibility: hidden;
             }
         }
     }
 }
 
 .sectionwavesobremi{
     .wave2{
         h1{
             visibility: hidden;       
         } 
 }
 }
 
 .sectionwaveproductos{
     .wave3{
         h1{
             visibility: hidden;
         }
     }
 }
 
 .sectionwavecontacto{
     .wave4{
         h1{
             visibility: hidden;
         }
     }
 }
    
}



