//mediaq

/*Hago responsivos*/

/*para mobile*/
@media (max-width:500px){

    .dimensiones{
       height: auto;
    }  


    .maincontacto{
        .contacto-section{

            .contacto{
                flex-direction: column;
                margin: auto;
                justify-content: space-between;
    
            .otrasformasdecontacto{
                justify-content: center;
            }
            }

            .form{
                justify-content: center;
            }
        }
    }

    /*sobremi*/
 
    .mainsobremi{
        .section-sobremi{
            .sobremibox{
                flex-direction: column;
                
            }
        }
    }

    
    /*productos*/
    .mainproductos{

        .grilla-productos{
        
            .contenedor-grid{
                .cardproductos{
                    flex-direction: column;
                    width: 80%;
                    border: solid 1px;
                    border-color: $colorprincipal;
                    margin: 40px;
                    padding: 0;
                    align-content: center;
                    justify-items: center;
                    
                    
    
                    .textoobras{
                        font-size: 12px;
                        padding: 10px;             
                    }

                    .obras{
                        height: 200px;
                        justify-items: center;
                        align-items: center;
                        padding-top: 20px;
                    }
    
                } 
            }       
    }
    
    }



   //mas info pag responive
   .masinfo-section{
        .infodeproductos{
            padding: 20px;
            width: 95%;
            height: auto;

        }
        
   }
}
