.section-sobremi{
    .sobremibox{
        @include flex;    
        flex-direction: row;
    }

    .imagenesdeportada{
        width: 100%;
        height: 500px;
        padding: 30px;
        border-radius: 15px;
    }

    .sobremibox-item{
        @include flex;
        flex-direction: column;

        h1{
            font-family: $font;
            font-size: 60px;
            
        }
        .info{
            font-size: 20px;
            font-family:$font;
            padding: 20px;
        }
    }
    
}