.main-index{
    .sectionwave{
        .wave{
            display: flex;
            flex-direction: column;
             
            h1{
                background-color: #fff4c7;
                margin: 0;
                text-align: center;
                font-size: 4rem;
                color: $colorprincipal;
                font-family: $font;  
            }
            
            p{
                position: absolute;
                font-family: $font;
                font-size: 1.5rem;
                left: 18%;
                top:50%;             
            }
        }
    }
}

.sectionwavesobremi{
    @extend .main-index;
    .wave2{
        display: flex;
        flex-direction: column;
         
        h1{
            background-color: #fff4c7;
            margin: 0;
            text-align: center;
            font-size: 3.5rem;
            color: $colorprincipal;
            font-family: $font;           
        } 
}
}

.sectionwaveproductos{
    .wave3{
        display: flex;
        flex-direction: column;
         
        h1{
            background-color: #fff4c7;
            margin: 0;
            text-align: center;
            font-size: 3rem;
            color: $colorprincipal;
            font-family: $font;
                   
        } 
}    
}

.sectionwavecontacto{
    .wave4{
        display: flex;
        flex-direction: column;
         
        h1{
            background-color: #fff4c7;
            margin: 0;
            text-align: center;
            font-size: 3.5rem;
            color: $colorprincipal;
            font-family: $font;                
        } 
    }
}

.masinfowave{
    .wave5{
        display: flex;
        flex-direction: column;
        
         
        h1{
            background-color: #fff4c7;
            margin: 0;
            text-align: center;
            font-size: 3.5rem;
            color: $colorprincipal;
            font-family: $font;            
        } 
}
}


