@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 5px;
    background-color: white;
}

header{
    background-color: white;
    justify-content: center;
    width: 100%; /*para que sea responsiva*/
    padding: 0;
    margin: 0;
}

/*Barra de navegación*/
.fondonavbar{
    background-color: #fdb202;
}

.fondonavbar a{
    color: white;
    font-size: large;
    
}

.hovercolor :hover{
    background-color: #fee990;
    color: #fdb202;
}


.coloractivo a{
    color: #fee990;
}



/*Carousel edicion de imagenes*/
.dimensiones{
    width: 80%;
    padding: 25px;
    padding-right: 50px;
    padding-left: 50px;
    height: 600px;
}




.content-box{
    display: flex;
    justify-content: center;
}


.content-box{
    display: flex;
    height: 205px;

    
}

.box-logo{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 15px;
}


/*pag sobre mi*/
.info{
    font-size: 20px;
    font-family: "darker grotesque";
    padding: 30px;
}

.sobremibox{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.imagenesdeportada{
    width: 100%;
    height: 500px;
    padding: 30px;
    border-radius: 15px;
}

/*fin sobre mi*/


/*Creación de la grilla*/
/*Para que las imagenes se ajusten al tamaño de la celda*/
.contenedor-grid img{
    width: 80%;
    height: 80%;
}

.contenedor-grid{
    display: grid;
    /*Cantidad y tamaño*/
    grid-template-columns: 45% 45%;
    grid-template-rows: 300px 300px 300px 300px 300px;
    /*ubico los elementos*/
grid-template-areas:
"obra1 texto1" 
"obra2 texto2"
"obra3 texto3"
"obra4 texto4"
"obra5 texto5";
justify-content:center;
align-items: center;
justify-items: center;
}

/*Asigno clase a los elementos*/
.grid-imagen1{
    grid-area: obra1;
}



.grid-texto1{
    grid-area: texto1;
}

.grid-imagen2{
    grid-area: obra2;
}

.grid-texto2{
    grid-area: texto2;
}

.grid-imagen3{
    grid-area: obra3;
}

.grid-texto3{
    grid-area: texto3;
}

.grid-imagen4{
    grid-area: obra4;
}
 .grid-texto4{
    grid-area: texto4;
 }

.grid-imagen5{
    grid-area: obra5;
}

.grid-texto5{
    grid-area: texto5;
}



/*Formulario de contacto page contacto*/
.form{
    display: flex;
    background-color: white;
    border-radius: 1rem;
    padding: 20px;
    margin: 60px;
    margin-left: 100px;
}

.form-container{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-auto-columns: 100%;
    padding-top: 35px;
    padding-bottom: 35px;


}
.form-input{
    font-family:"darker grotesque";
    
}



.form-container h2{
    font-family: "darker grotesque";
    text-align: center;
    font-size: 40px;

}

/*otras formas de contacto*/
.contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.otrasformasdecontacto{
    font-family: "darker grotesque";
    justify-content: center;
    align-content: center;
}

.infodeproductos{
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.infodeproductos img{
    width: 100%;
    max-width: 1000px;
    padding-bottom: 30px;
}



/*footer*/
.footer{
    background-color: #fdb202;
    width: 100%;
    padding: 20px 0;


}

.footer-content{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.social-elem{
    text-decoration: none;
}












/*Hago responsivos*/

/*para mobile*/
@media (max-width:500px){

    .dimensiones{
       height: auto;
    }  

    .contacto{
        flex-direction: column;
        margin: auto;
        justify-content: space-between;
        
    }

    .sobremibox{
        flex-direction: column;
    }

    .contenedor-grid{
        grid-template-columns: 95%;
        grid-template-rows: auto;
        width: 95%;
        margin-left: 50px;
       
        
        
    /*ubico los elementos*/
    grid-template-areas:
    "obra1" 
    "obra2"
    "obra3"
    "obra4"
    "obra5" ;
    }

    

    .grid-texto1{
        visibility: hidden; 

    }

    .grid-texto2{
        visibility: hidden;
    }

    .grid-texto3{
        visibility: hidden;
    }

    .grid-texto4{
        visibility: hidden;
    }

    .grid-texto5{
        visibility: hidden;
    }

}


